*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #f0faff; */
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  
}

@media only screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
}
